* {
  box-sizing: border-box;
  /*border: 1px solid pink;*/
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.app {
  width: 1180px;
  padding: 30px;
  background-color: rgb(241, 239, 239);
  border-radius: 3px;
}

/* 
HEADER
*/

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(201, 199, 199);
}

.header .title {
  padding: 5px;
}
.header .title .title_icon {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}
.header .title .title_text {
}

.header .menu {
  display: flex;
  align-items: flex-end;
}
.header .menu .menu_icon {
    margin-right: 5px;
}
.header .menu .menu_title {
}

/* 
CHAT
*/

.chat {
  display: flex;
  flex-wrap: nowrap;
}
.chat .chat_list {
  width: 30%;
}

.chat .chat_list .contacts {
}
.chat .chat_conversation {
    margin-left: 20px;
  width: 70%;
}
.chat .chat_conversation .chat_textarea {
  width: 100%;
  padding: 5px;
  padding-top: 0;
  margin-bottom: 15px;
}
.chat .chat_conversation .chat_textarea .text_blank_space {
  background-color: white;
  height: 80px;
}
.chat .chat_conversation .chat_textarea .text_send_button {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.chat .chat_conversation .conversation_historial {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

/*
CONTACT
*/

.contact {
  display: flex;
  padding: 10px;
  margin-bottom: 2px;
  background-color: rgb(223, 221, 221);
  border: 0.5px solid rgb(211, 209, 209);
  border-radius: 3px;
  padding-bottom: 20px;
}
.contact:hover {
  background-color: rgb(155, 153, 153);
  color: white;
}
.contact .contact_image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  flex-shrink: 0;
}

.contact .contact_details {
display: flex;
flex-direction: column;
  width: 75%;
  margin-left: 10px;
}
.contact .contact_details .contact_status {
    width: 15px;
    height: 15px;
  border-radius: 50%;
  align-self: flex-end;
  flex-shrink: 0;
}
.contact .contact_details .contact_name {
}
.contact .contact_details .contact_last_online {
}

/* 
BUBBLES
*/

.conversation_bubbles {
  width: 100%;
  margin-bottom: 5px;
}

.conversation_bubbles.odd {
  padding-left: 200px;
}
.conversation_bubbles.pair {
  padding-right: 200px;
}

.conversation_bubbles .conversation_text_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 3px;
}

.conversation_bubbles .conversation_text_box .bubble_user {
  width: 40%;
}
.conversation_bubbles .conversation_text_box .bubble_text_date {
}

.conversation_bubbles .conversation_text_box .bubble_text {
  width: 65%;
  margin-top: 10px;
}
